<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if music %}Update Music{% else %}Create Music{% endif %}</title>
</head>
<body>
    <h1>{% if music %}Update Music{% else %}Create Music{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="album_title">Album Title</label><br>
        <input type="text" name="album_title" id="album_title" value="{{ music.album_title }}"><br><br>
        <label for="artist">Artist</label><br>
        <input type="text" name="artist" id="artist" value="{{ music.artist }}"><br>
        <label for="release_year">Release year</label><br>
        <input type="date" name="release_year" id="release_year" value="{{ music.release_year }}"><br><br>
        <label for="genre">Genre</label><br>
        <input type="text" name="genre" id="genre" value="{{ music.genre}}"><br><br>
        <br>
        <button type="submit">{% if music %}Update {% else %}Create {% endif %}</button>
    </form>
    <br><br>
    {% if movie %}
        <button><a href="{{ music.get_detail_url }}">Bact to Detail</a></button>
    {% else %}
    <button><a href="{% url 'music:list' %}">Back to Music List</a></button>
    {% endif %}
</body>
</html>